@import "src/css/utils";

.link {
  background-color: inherit;
  border-bottom: 1px dotted;
  color: $accent-color;
  display: inline-block;
  font-weight: 500;
  perspective: 500px;
  position: relative;
  text-decoration: none;
  &::before {
    @include absolute(0, 0, 0, auto);
    @include flex(r, b);
    background-color: rgba($accent-color, 0.1);
    color: $accent-color;
    content: attr(data-text);
    overflow: hidden;
    transition: width 0.3s;
    width: 0;
  }
  &:active,
  &:focus,
  &:hover {
    outline: 0;
    text-decoration: none;
    &::before {
      opacity: 1;
      transition: all 0.3s;
      width: 100%;
    }
  }
}
