@import "src/css/utils";

$subtext-color: rgba(0, 0, 0, 0.32);

.icon {
  background-color: $bg-color;
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  height: 60px;
  margin: 0.5rem 1rem;
  outline: 0;
  padding: 0;
  position: relative;
  width: 60px;
  i.iconStart,
  i.iconHover {
    @include absolute(0, 0, 0, 0);
    @include flex(c, m);
    border-radius: 50%;
    font-size: 175%;
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  }
  i.iconHover {
    @include absolute(-2px, -2px, -2px, -2px);
    border: 2px solid;
    color: $accent-color;
    transform: scale(0);
  }
  &:hover {
    i.iconStart {
      @include absolute(-8px, -8px, -8px, -8px);
      transform: scale(0);
      opacity: 0;
    }
    i.iconHover {
      transform: scale(1);
    }
  }
}
