@import "src/css/utils";

$btn-size: 48px;

.pagination {
  @include flex(c, m);
  padding: 0;
  position: relative;

  .pages {
    position: relative;

    .pageList,
    .indicatorList {
      @include flex(c, m, row);
      margin: 0;
      padding: 0;
    }
    .pageList {
      flex-direction: row;
    }
    .indicator {
      outline: 2px solid $accent-color;
      @include absolute(0, auto, 0, auto);
      background-color: $accent-color;
      height: $btn-size;
      overflow: hidden;
      transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
      width: $btn-size;
    }
    .indicatorList {
      @include absolute(0, auto, auto, 0);
      flex-direction: column;
      pointer-events: none;
      transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);

      .page {
        color: $white;
      }
    }
  }

  .prev,
  .page,
  .next {
    @include flex(c, m);
    color: $text-color;
    cursor: pointer;
    font-size: 150%;
    font-weight: 500;
    height: $btn-size;
    margin: 0;
    position: relative;
    width: $btn-size;
    &:hover {
      color: $accent-color;
    }
  }
}
