$bg-color: #eaeaea;
$colors: #c9b1ff, #ffcaf2, #ffb2b1, #bcffbc, #a2deef;
$accent-color: #0078d7;
$menu-width: 300px;
$menu-collapse-width: 240px;
$screen-lg: 640;
$text-color: #393F37;
$subtext-color: rgba(0, 0, 0, 0.54);
