@import "src/css/utils";

.link {
  border-bottom: 1px dotted;
  color: $accent-color;
  display: inline-block;
  font-weight: 500;
  perspective: 500px;
  position: relative;
  text-decoration: none;
  &::after {
    @include absolute(auto, -2px, 0, -2px);
    @include flex(c, b);
    background-color: $grey-400;
    background-color: darken($accent-color, 15%);
    color: $grey-800;
    color: $white;
    content: attr(data-text);
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: center bottom;
    transform-style: preserve-3d;
    transition: all 0.3s, opacity 0.01s 0.3s;
  }
  &:active,
  &:focus,
  &:hover {
    outline: 0;
    text-decoration: none;
    &::after {
      background-color: $accent-color;
      opacity: 1;
      transform: translateX(0);
      transition: all 0.3s, opacity 0.01s;
    }
  }
}
