@import "src/css/utils";

.menu {
  @include flex(c, space, col);
  // background-color: #424242;
  padding: 2rem 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
  width: $menu-width;
  z-index: 99;
  &.fullScreen {
    width: 100vw;
    .menuItem {
      border-radius: 4px;
    }
  }

  .menuHead {
    @include flex(c, m, row);
    align-self: center;
    background-color: #fafafa;
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  .menuList {
    @include flex(c, m, col);
    margin: 0;
    max-width: $menu-width;
    padding: 0;
    width: 100%;
  }

  .menuItem {
    @include flex(l, m, row);
    cursor: pointer;
    font-size: 24px;
    list-style-type: none;
    height: 52px;
    margin: 0.25rem 0;
    min-width: $menu-collapse-width;
    padding: 0.5rem 2rem;
    transition: border-left 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    width: 100%;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    @each $color in $colors {
      $i: index($colors, $color);
      $len: length($colors);
      &:nth-of-type(#{$len}n + #{($i + 0) % $len}) {
        color: darken($color, 10%);
        &:hover {
          color: darken($color, 20%);
        }
        &.active {
          border-left: 4px solid;
        }
      }
    }
  }
}
