@import "src/css/utils";

.menu {
  @include flex(c, space, col);
  border-right: 1px dashed rgba(0, 0, 0, 0.25);
  padding: 2rem 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
  width: $menu-width;
  z-index: 99;
  &.fullScreen {
    width: 100vw;
    .menuItem {
      border-radius: 4px;
    }
  }

  .title {
    @include font(display1);
    span {
      color: $accent-color;
      font-size: 80%;
      font-weight: 600;
    }
    strong {
      font-weight: 400;
    }
  }

  .menuHead {
    @include flex(c, m, row);
    align-self: center;
    border-radius: 50%;
  }

  .menuList {
    @include flex(c, m, col);
    margin: 0;
    max-width: $menu-width;
    padding: 0;
    width: 100%;
  }

  .menuItem {
    @include flex(c, m, row);
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    list-style-type: none;
    height: 52px;
    min-width: $menu-collapse-width;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    transition: background-color 0.25s cubic-bezier(0.23, 1, 0.32, 1),
                color 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    width: 100%;
    &:hover,
    &.active {
      color: $accent-color;
    }
    &.active {
      background-color: $accent-color;
      color: white;
    }
  }
}
