@import "src/css/utils";

$alert-height: 48px;

@keyframes alertAnim {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes alertDismiss {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.alertDemo {
  .alertButton {
    background-color: transparent;
    border: 1.5px dashed rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.24);
    cursor: pointer;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 0.5rem 1rem;
    &:hover {
      border-style: solid;
    }
    &:focus {
      outline: none;
    }
  }

  .alertOverlay {
    @include fixed(auto, 0, 0, 0);
    @include flex(stretch, b, col);
    pointer-events: none;
    z-index: 999;

    .alert {
      @include absolute(auto, 0, 0, 0);
      @include flex(l, t);
      animation: alertAnim 0.25s cubic-bezier(0, 0, 0.2, 1);
      background-color: $grey-900;
      border: none;
      border-radius: 0;
      color: $white;
      cursor: pointer;
      margin: 0;
      overflow: hidden;
      padding: 0;
      pointer-events: auto;
      transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);

      &.dismiss {
        animation: alertDismiss 0.1s cubic-bezier(0, 0, 0.2, 1) forwards;
        pointer-events: none;
      }

      .alertIcon {
        @include flex(c, m, row, inline);
        font-size: 150%;
        height: 48px;
        min-width: 48px;
      }

      .alertMessage {
        @include flex(c, m, row, inline);
        font-weight: 500;
        min-height: 48px;
        padding-right: 1rem;
      }
    }
  }
}
