@import "src/css/utils";

.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 56px;
  margin: 1rem;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 56px;
  i.iconStart,
  i.iconHover {
    @include flex(c, m);
    height: 56px;
    color: rgba(0, 0, 0, 0.84);
    font-size: 32px;
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  }
  i.iconHover {
    color: $accent-color;
  }
  &:hover {
    i.iconStart,
    i.iconHover {
      transform: translateY(-56px);
    }
  }
}
