@import "src/css/utils";

$btnHeight: 48px;
$btnWidth: 100px;
$colorExposed: $white;
$colorHidden: $grey-400;
$colorActiveExposed: $accent-color;
$colorActiveHidden: darken($accent-color, 20%);

.perspective {
  perspective: 2000px;

  .button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    height: $btnHeight;
    margin: 1rem;
    outline: 0;
    padding: 0;
    position: relative;
    width: auto;
    transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
    transform-style: preserve-3d;
    width: $btnWidth;
    &:focus {
      outline: none;
    }
    .label,
    .label-hover {
      @include flex(c, m);
      background-color: rgba(255, 255, 255, 0.25);
      font-weight: 700;
      height: 100%;
      letter-spacing: 0.5px;
      padding: 0 1rem;
      text-transform: uppercase;
      transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
      width: 100%;
    }
    .label {
      background-color: $colorExposed;
      color: $subtext-color;
    }
    .label-hover {
      @include absolute(0, 0, 0, 0);
      background-color: $colorActiveHidden;
      // color: $accent-color;
      color: $white;
    }
    &:hover {
      .label {
        background-color: $colorHidden;
      }
      .label-hover {
        background-color: $colorActiveExposed;
        color: $white;
      }
    }

    &[data-dir="up"] {
      transform-origin: #{$btnWidth/2} #{$btnHeight/2} -#{$btnHeight/2};
      &:hover {
        transform: rotateX(90deg);
      }
      .label-hover {
        transform: rotateX(-90deg) translateY(100%);
        transform-origin: center bottom;
      }
    }

    &[data-dir="right"] {
      transform-origin: #{$btnWidth/2} #{$btnHeight/2} -#{$btnWidth/2};
      &:hover {
        transform: rotateY(90deg);
      }
      .label-hover {
        transform: rotateY(-90deg) translateX(-100%);
        transform-origin: center left;
      }
    }

    &[data-dir="down"] {
      transform-origin: #{$btnWidth/2} #{$btnHeight/2} -#{$btnHeight/2};
      &:hover {
        transform: rotateX(-90deg);
      }
      .label-hover {
        transform: rotateX(90deg) translateY(-100%);
        transform-origin: center top;
      }
    }

    &[data-dir="left"] {
      transform-origin: #{$btnWidth/2} #{$btnHeight/2} -#{$btnWidth/2};
      &:hover {
        transform: rotateY(-90deg);
      }
      .label-hover {
        transform: rotateY(90deg) translateX(100%);
        transform-origin: center right;
      }
    }
  }
}
