@import "src/css/utils";

.link {
  background-color: inherit;
  border-bottom: 1px dotted;
  color: $accent-color;
  display: inline-block;
  font-weight: 500;
  perspective: 500px;
  position: relative;
  text-decoration: none;
  &::before {
    @include absolute(0, auto, 0, 0);
    @include flex(l, b);
    background-color: $accent-color;
    color: $white;
    content: attr(data-text);
    overflow: hidden;
    transition: width 0.3s;
    width: 0;
    white-space: nowrap;
  }
  &:active,
  &:focus,
  &:hover {
    outline: 0;
    text-decoration: none;
    &::before {
      opacity: 1;
      transition: all 0.3s;
      width: 100%;
    }
  }
}
