@import "src/css/utils";

.logo {
  cursor: pointer;
  position: relative;

  .logo:not(.main) {
    @include absolute(0, 0, 0, 0);
  }

  .left {
    animation: glitch1 3s infinite linear;
    background: #fafafa;
    transform: translateX(2px);
  }

  .right {
    animation: glitch2 3s infinite linear reverse;
    background: #fafafa;
    opacity: 0;
    transform: translateX(-2px);
  }
  .hover {
    display: none;
  }

  &:hover {
    .left {
      animation: glitchContinuous 3s infinite linear;
      transform: translateX(3px);
    }
    .right {
      animation: glitchContinuous 4s infinite linear reverse;
      transform: translateX(-3px);
    }
    .main {
      display: none;
    }
    .hover {
      display: inline-block;
    }
  }

  // .logo__img {
  //   &:nth-child(2) {
  //     display: none;
  //   }
  //   &:nth-child(n + 3) {
  //     @include absolute(0, 0, 0, 0);
  //     background-color: #fafafa;
  //   }
  //   &:nth-child(3) {
  //     animation: glitch1 3s infinite linear;
  //     transform: translateX(3px);
  //   }
  //   &:nth-child(4) {
  //     animation: glitch2 3s infinite linear reverse;
  //     transform: translateX(-3px);
  //   }
  // }
  // &:hover .logo__img {
  //   &:nth-child(1) {
  //     display: none;
  //   }
  //   &:nth-child(2) {
  //     display: inline-block
  //   }
  //   &:nth-child(3) {
  //     animation: glitchContinuous 3s infinite linear;
  //     transform: translateX(5px);
  //   }
  //   &:nth-child(4) {
  //     animation: glitchContinuous 4s infinite linear reverse;
  //     transform: translateX(-5px);
  //   }
  // }
}

//  Glitch Layer 1

$glitch1: (
  (0%, 2%, 5%),
  (2%, 15%, 15%),
  (4%, 10%, 20%),
  (6%, 1%, 2%),
  (8%, 33%, 33%),
  (10%, 44%, 44%),
  (12%, 50%, 20%),
  (14%, 70%, 70%),
  (16%, 80%, 80%),
  (18%, 50%, 55%),
  (20%, 70%, 80%)
);

@keyframes glitch1 {
  @for $i from 1 through 11 {
    $row: nth($glitch1, $i);
    $percent: nth($row, 1);
    $a1: nth($row, 2);
    $a2: nth($row, 3);
    #{$percent} {
      -webkit-clip-path: polygon(0 $a1, 100% $a1, 100% $a2, 0 $a2);
      clip-path: polygon(0 $a1, 100% $a1, 100% $a2, 0 $a2);
      opacity: 1;
    }
  }
  22%,
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
  }
}

//  Glitch Layer 2

$glitch2: (
  (0%, 1%, 3%),
  (1.5%, 10%, 9%),
  (2%, 5%, 6%),
  (2.5%, 20%, 20%),
  (3%, 10%, 10%),
  (5%, 30%, 25%),
  (5.5%, 15%, 16%),
  (7%, 40%, 39%),
  (8%, 20%, 21%),
  (9%, 60%, 55%),
  (10.5%, 30%, 31%),
  (11%, 70%, 69%),
  (13%, 40%, 41%),
  (14%, 80%, 75%),
  (14.5%, 50%, 51%),
  (15%, 90%, 90%),
  (16%, 60%, 60%),
  (18%, 100%, 99%),
  (20%, 70%, 71%)
);

@keyframes glitch2 {
  @for $i from 1 through 19 {
    $row: nth($glitch2, $i);
    $percent: nth($row, 1);
    $a1: nth($row, 2);
    $a2: nth($row, 3);
    #{$percent} {
      -webkit-clip-path: polygon(0 $a1, 100% $a1, 100% $a2, 0 $a2);
      clip-path: polygon(0 $a1, 100% $a1, 100% $a2, 0 $a2);
      opacity: 1;
    }
  }
  22%,
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 1;
  }
}

//  Glitch Continuous

$glitchContinuous: (
  (0%, 2%, 5%),
  (2%, 15%, 15%),
  (4%, 10%, 20%),
  (6%, 1%, 2%),
  (8%, 33%, 33%),
  (10%, 44%, 44%),
  (12%, 50%, 20%),
  (14%, 70%, 70%),
  (16%, 80%, 80%),
  (18%, 50%, 55%),
  (20%, 70%, 80%),
  (22%, 25%, 30%),
  (24%, 3%, 3%),
  (26%, 5%, 20%),
  (28%, 20%, 20%),
  (30%, 40%, 40%),
  (32%, 52%, 59%),
  (34%, 60%, 60%),
  (36%, 75%, 75%),
  (38%, 65%, 40%),
  (40%, 45%, 50%),
  (42%, 14%, 33%),
  (44%, 1%, 3%),
  (46%, 10%, 9%),
  (48%, 5%, 6%),
  (50%, 20%, 20%),
  (52%, 10%, 10%),
  (54%, 30%, 25%),
  (56%, 15%, 16%),
  (58%, 40%, 39%),
  (60%, 20%, 21%),
  (62%, 60%, 55%),
  (64%, 30%, 31%),
  (66%, 70%, 69%),
  (68%, 40%, 41%),
  (70%, 80%, 75%),
  (72%, 50%, 51%),
  (74%, 90%, 90%),
  (76%, 60%, 60%),
  (78%, 100%, 99%),
  (80%, 70%, 71%),
  (82%, 20%, 21%),
  (84%, 33%, 33%),
  (86%, 44%, 44%),
  (88%, 50%, 20%),
  (90%, 70%, 70%),
  (92%, 80%, 80%),
  (94%, 50%, 55%),
  (96%, 70%, 80%),
  (98%, 90%, 95%),
  (100%, 25%, 30%)
);

@keyframes glitchContinuous {
  @for $i from 1 through length($glitchContinuous) {
    $row: nth($glitchContinuous, $i);
    $percent: nth($row, 1);
    $a1: nth($row, 2);
    $a2: nth($row, 3);
    #{$percent} {
      -webkit-clip-path: polygon(0 $a1, 100% $a1, 100% $a2, 0 $a2);
      clip-path: polygon(0 $a1, 100% $a1, 100% $a2, 0 $a2);
    }
  }
}
