@import "src/css/utils";

.demoArea {
  overflow: hidden;
  padding: 3rem 0;
  position: relative;
  transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  width: 100vw;
  &.hide {
    display: none;
  }

  @include bp-min($screen-lg) {
    width: calc(100vw - #{$menu-width});
    .menuButton {
      display: none;
    }
  }
}
