@import "src/css/utils";

.span {
  border-bottom: 1px dotted;
  color: $accent-color;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  position: relative;
  .tooltip {
    @include absolute(5px, -1rem, auto, -1rem);
    @include flex(c, m);
    background-color: $text-color;
    color: $white;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    opacity: 0;
    padding: 0.5rem 1rem;
    pointer-events: none;
    text-align: left;
    transform: translateY(-100%);
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    width: auto;
    word-wrap: break-word;
    z-index: 99;
    &::after {
      $size: 16;
      $offsetY: hypoteneuse($size/2, $size/2);
      @include absolute(auto, auto, calc(-#{$offsetY + $size}px), 50%);
      border: #{$size * 0.5}px solid;
      border-color: $text-color;
      box-sizing: border-box;
      content: "";
      display: block;
      height: #{$size}px;
      transform: rotate(-135deg);
      transform-origin: top left;
      width: #{$size}px;
    }
    span {
      color: $white;
      border: none;
      font-size: 75%;
      font-weight: 400;
      line-height: 1.2;
      margin: 0.5rem 0;
    }
  }
  &.align-right .tooltip {
    @include absolute(0, 50%, auto, auto);
    &::after {
      @include absolute(auto, 0, -12px, auto);
      border-color: $grey-900 $grey-900 transparent transparent;
    }
  }
  &:active,
  &:focus,
  &:hover {
    .tooltip {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(calc(-100% - 12px));
    }
  }
}
