@import "src/css/utils";

$alert-height: 48px;

.alertDemo {
  .alertButton {
    background-color: transparent;
    border: 1.5px dashed rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.24);
    cursor: pointer;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 0.5rem 1rem;
    &:hover {
      border-style: solid;
    }
    &:focus {
      outline: none;
    }
  }

  .alertOverlay {
    @include fixed(auto, 0, 0, auto);
    @include flex(r, t, colr);
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: calc(100vh - 0px);
    pointer-events: none;
    transition: padding-bottom 0.25s cubic-bezier(0, 0, 0.2, 1);

    .alert {
      @include flex(l, m);
      @include shadow(2);
      background-color: $white;
      border: none;
      border-radius: 0;
      cursor: pointer;
      margin: 0;
      max-height: $alert-height;
      overflow: hidden;
      padding: 0;
      pointer-events: auto;
      transform: translateX(calc(100% - 48px));
      transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1),
        max-height 0.25s cubic-bezier(0, 0, 0.2, 1) 0.25s;

      &:hover,
      &.expand {
        transform: translateX(0);
      }

      &.dismiss {
        max-height: 0;
        transform: translateX(100%);
      }

      .alertIcon {
        @include flex(c, m, row, inline);
        font-size: 150%;
        height: 48px;
        min-width: 48px;
      }

      .alertMessage {
        @include flex(c, m, row, inline);
        color: $subtext-color;
        font-weight: 500;
        min-height: 48px;
        padding-right: 1rem;
      }
    }
  }
}
