@import "src/css/utils";

.section {
  @include absolute(0, 0, 0, $menu-collapse-width);
  display: none;
  overflow-y: auto;
  padding: 3rem 0;

  &.active {
    display: block;
  }

  @each $color in $colors {
    $i: index($colors, $color);
    $len: length($colors);
    &:nth-of-type(#{$len}n + #{($i + 0) % $len}) {
      background-color: darken($color, 10%);
      color: darken($color, 20%);
    }
  }
}
